/* Contacto */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.type-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.type-regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.type-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.type-extra-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

body {
  background-color: #333333;
}

.HeaderBarra {
  background-color: #505D9E;
}

.HeaderBarra p {
  color: #fff;
  text-align: center;
  position: relative;
  left: 15px;
}

.NavMenu {
  background-color: #333333;
  padding-bottom: 15px;
}

.NavMenu-Logo {
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #fff;
  padding: 10px 15px;
  position: relative;
  right: 50px;
}

.BotoneraMenu {
  background-color: #fff;
  width: 100%;
}

.BotoneraMenu ul {
  position: relative;
  left: 330px;
  padding: 8px;
}

.BotoneraMenu ul li {
  display: inline-block;
}

.BotoneraMenu ul li a {
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.iconoWhatsapp img {
  position: fixed;
  width: 100px;
  height: 90px;
  z-index: 2;
  bottom: 5px;
  right: 5px;
}

/********************* Footer */
footer {
  display: grid;
  background-color: #FFF9F9;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "footerNav footerMedPago footerContacto footerRedes";
}

.footerNav {
  grid-area: footerNav;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.Navegacion {
  display: flex;
  flex-direction: row;
}

.Navegacion ul li {
  margin-right: 15px;
  color: #000000;
  font-size: 15px;
}

.Navegacion ul li a {
  text-decoration: none;
  color: #000000;
}

.footerMedPago {
  grid-area: footerMedPago;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerMedPago .MedioPago {
  display: flex;
  justify-content: center;
}

.footerMedPago .cardImagen {
  margin: 0 5px 5px 0;
  border: 1px solid #00000012;
  height: 25px;
  display: inline-block;
}

.footerContacto {
  grid-area: footerContacto;
  text-align: center;
}

.Contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerRedes {
  grid-area: footerRedes;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerRedes .RedesSociales {
  display: flex;
  flex-direction: row;
}

.footerRedes .RedesSociales img {
  width: 50px;
  margin: 5px;
}

body {
  background-color: #333333;
}

.producto {
  background-color: #FFF9F9;
  width: 200px;
  height: 200px;
  margin: 5px 5px;
  padding: 5px 5px;
}

.TextBox {
  background-color: #e3d9d9;
  width: 70%;
  color: white;
  padding: 5px 5px;
  margin: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.contenedorContacto {
  background-color: #3d3a3a;
  width: 25%;
  margin: 30px 20px;
}
