$BgBarra:#505D9E;
$BgHeader:#333333;
$BgLogo:#fff;

$BgNavBotonera:#fff;

$BgBody:#333333;

$Texto:#fff;
$Texto-secundario:#000000;

$font:'Open Sans', sans-serif;
$font-light:300;
$font-regular:400;
$font-bold:700;
$font-extra-bold:800;

$BgFooter:#FFF9F9;
$TextoFooter:#000000;

$BgProducto: #FFF9F9;
$BgProdButton:#22118E;

/* Contacto */
$BotonEnviar: #A31212;
$BgForm: #333333;
$BgTextBox: #e3d9d9;

